/* CSS for Evaluations Dashboard */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: black;
}

.sidebar {
    width: 25%;
    background-color: rgba(7, 52, 94, 1);
    padding: 20px;
    border-right: 1px solid whitesmoke;
    overflow-y: auto;
}

.sidebar h2 {
    text-align: center;
    font-size: 1.2vw;
    color: whitesmoke;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: rgba(2, 18, 38, 1);
    border: solid rgba(225, 76, 7, 1);
    margin-bottom: 20px;
    position: relative;
    z-index: 0;
}

.sidebar h2::before {
    content: '';
    background-image: url(../imagenes/gaming2.png);
    background-size: auto;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#vacancyList {
    list-style: none;
    padding: 0;
}

#vacancyList li {
    padding: 10px;
    margin: 10px 0;
    background-color: #eee;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    font-weight: bolder;
}

#vacancyList li:hover {
    background-color: #ddd;
    cursor: pointer;
}

.content {
    width: 75%;
    padding: 20px;
    max-height: 100%;
    overflow-y: auto;
    background-color: black;
    background-image: url(../imagenes/backgroundEvaluations.jpeg);
    opacity: 0.9;
    position: relative;
    z-index: 0;
}

.content h2 {
    text-align: center;
    font-size: 1.2vw;
    color: whitesmoke;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: rgba(2, 18, 38, 1);
    border: solid rgba(225, 76, 7, 1);
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    z-index: 0;
}

.content h2::before {
    content: '';
    background-image: url(../imagenes/gaming2.png);
    background-size: auto;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    padding: 10px;
    text-align: center;
    border: 1px solid rgba(225, 76, 7, 1);
}

.card img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.card p {
    font-size: 14px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    border: 1px solid rgba(225, 76, 7, 1);
}

.candidate-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.candidate-name {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.candidate-info img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
}

.evaluation-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.modal-content h2 {
    margin-bottom: 20px;
    text-align: center;
}

.evaluation-section label {
    flex: 1;
    text-align: left;
    margin-right: 10px;
}

.evaluation-section input[type="number"] {
    flex: 0.5;
    width: 60px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.close {
    float: right;
    cursor: pointer;
    z-index: 1002;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 12px;
    background-color: rgba(225, 76, 7, 1);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}

button:hover {
    background-color: #c33b05;
}

#comparisonChart {
    display: none;
}

.charts {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.charts canvas {
    width: 100%;
    max-width: 1000px;
    height: 700px !important;
    border: 1px solid rgba(225, 76, 7, 1);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chartModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.chartModal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 900px;
    text-align: center;
}

.closeChart {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.chartModal canvas {
    width: 100%;
    height: auto;
}

/* Pantallas de Telefono */
@media (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }

    .sidebar {
        width: 90%;
        height: 30vh;
    }

    .sidebar h2 {
        font-size: 4.5vw;
    }

    .content {
        border-top: solid rgba(225, 76, 7, 1);
        width: 90%;
        height: 70vh;
    }

    .content h2 {
        font-size: 4.5vw;
    }
}