.contenedor {
    background-image: url(../Imagenes/Prueba2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1em;
    padding: 100px;
    text-align: center;
    max-width: 100%;
}

.mision-vision {
    display: flex;
    justify-content: space-around;
    gap: 20px; /* Espacio entre la misión y la visión */
    margin-top: 20px;
}


.mision, .vision {
    width: 45%;
    background-color: rgba(88, 85, 85, 0.6); /* Fondo semitransparente para contraste */
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: white;
    font-size: 3em;
    text-shadow: 2px 0 rgba(225, 76, 7, 0.7);
}


.contenedor img{
    width: 100px;
    height: 100px;
}

p, .mision p, .vision p {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

p2, p3 {
    color: white;
    text-align: justify;
}



