/*html/body*/
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/*Envoltura de contenido*/
.main-content {
    flex: 1; /* Para que tome el espacio que sobre */
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
    background-color: black;
}

.main-content::before {
    content: '';
    background-image: url(../imagenes/backgroundRecruiter.jpeg);
    background-size:cover;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/* Profile Container */
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: transparent;
}

/* Profile Card */
.profile-card {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    border: 1px solid rgba(225, 76, 7, 1);
}

/* Profile Picture */
.profile-picture-container {
    position: relative;
}

#recruiterProfilePicture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #e14c07;
    object-fit: cover;
}

#changePictureButton {
    position: absolute;
    bottom: 10px;
    right: 60px;
    background: rgba(225, 76, 7, 1);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#changePictureButton img {
    width: 100%;
    height: 100%;
}

/* Profile Info */
.profile-info h2 {
    margin-top: 15px;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.profile-info p {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}

.profile-email {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-small {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #e14c07;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.btn-primary {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e14c07;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover, .btn-small:hover {
    background-color: #c33b05;
}
