/*CSS Universal*/
body {
    background-color: rgba(7, 52, 94, 1);
}

/*CSS Banner*/
.banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: nowrap;
    justify-content:center;
    margin: auto;
    background-color: rgba(7,52,94, 1);
    align-items: center;
    background-image: url(../Imagenes/gaming2.png);
    background-position: center;
    background-size:contain;
}

.banner img{
    width: 50%;
    height: auto;
    background-color: transparent;
    margin-top: -40px;
}

.bannerHijo{
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
    text-align: center;
    background-color: transparent;
    flex: 1 120px;
}

.bannerHijo h2{
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 0 rgba(225, 76, 7, 0.7), -2px 0 rgba(225, 76, 7, 0.4), 0 2px rgba(225, 76, 7, 0.7), 0 -2px rgba(225, 76, 7, 0.4);
    color: whitesmoke;
    background-color: black;
    background: rgba(0,0,0,0.2);
}



/*CSS Carousel*/
.carousel-background {
    background-color: rgba(7, 52, 94, 1);
}

.carousel-container {
    position: relative;
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    overflow: hidden;
    border: 2px solid rgba(225, 76, 7, 0.7);
    border-radius: 10px;
    background-color: rgba(255,255,255,0.5);
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    display: none;
}

.carousel-item img {
    max-width: 50%;
    border-radius: 10px;
}

.carousel-item h3 {
    margin: 10px 0;
    font-weight: bolder;
    color: rgba(225, 76, 7, 0.7);
    font-size: 2.5vw;
}

.carousel-item .description {
    display: none;
    margin-top: 10px;
    color: whitesmoke;
    font-size: 1vw;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}


@media all and (max-width:600px) {


    .bannerHijo {
        flex: 1 50px;
        padding-bottom: 30px;
    }

    .bannerHijo h2 {
        font-size: 8vw;
    }

    .banner img {
        max-width: 50%;
    }

    .carousel-item h3 {
        font-size: 5vw;
    }

    .carousel-item .description{
        font-size: 2.5vw;
    }

    .carousel-item img {
        max-width: 70%;
    }
}
