/*CSS Universal*/
html,
body {
    background-color: rgba(7, 52, 94, 1);
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
}

/*CSS Banner*/
.banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
    background-color: rgba(7, 52, 94, 1);
    align-items: center;
    position: relative;
    z-index: 0;
}

.banner::before {
    content: '';
    background-image: url(../imagenes/gaming2.png);
    background-size: auto;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.banner img {
    width: 50%;
    height: auto;
    background-color: transparent;
    margin-top: -40px;
}

.bannerHijo {
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
    text-align: center;
    background-color: transparent;
    flex: 1 120px;
}

.bannerHijo h2 {
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 0 rgba(225, 76, 7, 0.7), -2px 0 rgba(225, 76, 7, 0.4), 0 2px rgba(225, 76, 7, 0.7), 0 -2px rgba(225, 76, 7, 0.4);
    color: whitesmoke;
}



/*CSS Carousel*/
.main-content {
    background-color: black;
    position: relative;
    z-index: 0;
}

.carousel-background {
    background: none;
}

.main-content::before {
    content: '';
    background-image: url(../imagenes/backgroundPortafolio.jpeg);
    background-size: contain;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.carousel-container {
    position: relative;
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    overflow: hidden;
    border: 2px solid rgba(225, 76, 7, 0.7);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    display: none;
}

.carousel-item img {
    max-width: 50%;
    border-radius: 10px;
}

.carousel-item h3 {
    margin: 10px 0;
    font-weight: bolder;
    color: rgba(225, 76, 7, 0.7);
    font-size: 2.5vw;
}

.carousel-item .description {
    display: none;
    margin-top: 10px;
    color: black;
    font-size: 1vw;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

/*Pantallas de Telefono*/
@media all and (max-width:600px) {


    .bannerHijo {
        flex: 1 50px;
        padding-bottom: 30px;
    }

    .bannerHijo h2 {
        font-size: 8vw;
    }

    .banner img {
        max-width: 50%;
    }

    .carousel-item h3 {
        font-size: 5vw;
    }

    .carousel-item .description {
        font-size: 2.5vw;
    }

    .carousel-item img {
        max-width: 70%;
    }
}

/* Pantallas de Tablet (768 x 1024 ipad)/(800 x 1280 android)*/
@media (min-width: 601px) and (max-width: 900px) {
    .carousel-item h3 {
        font-size: 6vw;
    }

    .carousel-item .description {
        font-size: 2.5vw;
    }

    .banner h2 {
        font-size: 6vw;
    }
}

/* Pantallas para Laptops pequeñas (1024 x 768)*/
@media (min-width: 901px) and (max-width: 1200px) {
    .carousel-item h3 {
        font-size: 6vw;
    }

    .carousel-item .description {
        font-size: 1.8vw;
    }

    .banner img {
        max-width: 40%;
    }
}