/* Estilos Generales */
body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin: 0;
    background-color: #f9f9f9;
}

/* Banner */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* Display content in a row */
    padding: 40px 10px;
    text-align: left;
    /* Align text to the left */
    background-color: rgba(7, 52, 94, 1);
    color: whitesmoke;
    background-image: url(../imagenes/gaming2.png);
    overflow: hidden;
    height: 200px;
}

.banner-content {
    display: flex;
    flex-direction: row;
    max-width: auto;
    padding: 0px 20px;
}

.banner-contentIMG {
    padding-right: 20px;
}

.banner-contentCnt {
    padding-left: 20px;
    margin: auto auto;
}

.banner-content h1 {
    font-size: 1.5vw;
    margin-bottom: 10px;
    background-color: rgba(2, 18, 38, 1);
    margin: 0px;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border-left: solid rgba(225, 76, 7, 1);
    border-right: solid rgba(225, 76, 7, 1);
}

.banner-content p {
    font-size: 1vw;
    margin-bottom: 20px;
    background-color: rgba(2, 18, 38, 1);
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: solid rgba(225, 76, 7, 1);
    border-left: solid rgba(225, 76, 7, 1);
    border-right: solid rgba(225, 76, 7, 1);
}

.banner-image {
    width: 100%;
    max-width: 250px;
    height: auto;
    opacity: 0.8;
    border-radius: 10px;
    margin-top: 10px;
    transition: transform 0.3s ease-in-out;
    padding-bottom: 10px;
}

.banner-image:hover {
    transform: scale(1.05);
}

/* Beneficios */
.benefits-section {
    padding: 40px 20px;
    background-color: rgba(7, 52, 94, 1);
    border-top: solid rgba(225, 76, 7, 1);
}

.benefits-section h2 {
    text-align: center;
    font-size: 2vw;
    color: rgba(225, 76, 7, 1);
    padding-bottom: 20px;
}

.benefits-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.benefit-card {
    background-color: whitesmoke;
    width: 200px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s;
}

.benefit-card:hover {
    transform: translateY(-5px);
    background-color: #e2eaf1;
}

/* Seccion de empleos */
.vacancies-section {
    padding: 40px 20px;
    background-color: whitesmoke;
    border-top: solid rgba(225, 76, 7, 1);
    z-index: 0;
    position: relative;
}

.vacancies-section::before {
    content: "";
    background-image: url(../imagenes/backgroundVacancies1.jpeg);
    background-size: contain;
    background-position: center;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.vacancies-section h2 {
    text-align: center;
    font-size: 2vw;
    color: rgba(225, 76, 7, 1);
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: rgba(2, 18, 38, 1);
    border: solid rgba(225, 76, 7, 1);
    margin-bottom: 20px;
}

.vacancies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    max-width: 2000px;
}

.vacancy-card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.vacancy-card h3 {
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.vacancy-card p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.vacancy-card ul {
    text-align: center;
    list-style-type: none;
}

.vacancy-card:hover {
    transform: translateY(-5px);
}

.vacancy-thumbnail {
    display: block;
    width: 30%;
    border-radius: 5px;
    margin: 0 auto;
}

/* Detallado Empleos */
.vacancy-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    text-align: center;
}

#modal-title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.8vw;
}

#modal-description,
#modal-description-p {
    font-size: 1vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-content img {
    width: 40%;
}

#remove-button {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin: 10px auto 10px auto;
    transition: background-color 0.2s;
    background-color: #e74c3c;
    color: #fff;
}

#remove-button:hover {
    background-color: #c0392b;
}

#modal-warning {
    margin-top: 10px;
    color: rgba(225, 76, 7, 1) !important;
    font-weight: bolder;
    font-size: 0.8vw;
}

.close-button {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

/* Pantallas de Telefono */
@media (max-width: 600px) {

    .banner {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 20px 20px;
    }

    .banner-content {
        flex-direction: column;
    }

    .banner-contentIMG {
        margin: auto auto;
        align-items: center;
        padding-right: 0px;
        padding-left: 0px;
    }

    .banner-contentCnt {
        margin: auto auto;
        padding-left: 0px;
    }

    .banner-content h1 {
        font-size: 5vw;
    }

    .banner-content p {
        padding-top: 10px;
        font-size: 3.2vw;
    }

    .banner-image {
        width: 80%;
    }

    .benefits-container {
        align-items: center;
    }

    .benefits-section h2 {
        font-size: 6vw;
    }

    .benefits-container {
        flex-direction: column;
    }

    .vacancies-container {
        grid-template-columns: 1fr;
    }

    .vacancies-section h2 {
        font-size: 6vw;
    }

    #modal-title {
        font-size: 6vw;
    }

    #modal-description,
    #modal-description-p {
        font-size: 4vw;
        margin-bottom: 20px;
    }

    #modal-warning {
        font-size: 4vw;
    }

    #remove-button {
        font-size: 14px;
    }
}

/* Pantallas de Tablet (768 x 1024 ipad)/(800 x 1280 android)*/
@media (min-width: 601px) and (max-width: 900px) {
    .banner-content h1 {
        font-size: 3.3vw;
    }

    .banner-content p {
        padding-top: 10px;
        font-size: 1.8vw;
        text-align: center;
    }

    .benefits-section h2 {
        font-size: 3.3vw;
    }

    .vacancies-section h2 {
        font-size: 3.3vw;
    }

    #modal-title {
        font-size: 5vw;
    }

    #modal-description,
    #modal-description-p,
    #modal-remuneracion-p,
    #modal-ubicacion-p,
    #modal-fecha-p,
    #modal-departamento-p {
        font-size: 2.8vw;
    }

    #modal-warning {
        font-size: 2.8vw;
    }

    #remove-button {
        font-size: 2.8vw;
    }
}

/* Pantallas para Laptops pequeñas (1024 x 768)*/
@media (min-width: 901px) and (max-width: 1200px) {

    #modal-title {
        font-size: 4vw;
    }

    #modal-description,
    #modal-description-p,
    #modal-remuneracion-p,
    #modal-ubicacion-p,
    #modal-fecha-p,
    #modal-departamento-p {
        font-size: 2.8vw;
    }

    #modal-warning {
        font-size: 2.6vw;
    }

    #remove-button {
        font-size: 2.6vw;
    }
}